.image-container {
  display: inline-block;
  position: relative;
  margin: 5px;
}

.cancel-btn {
  position: absolute;
  top: 0;
  right: 0;
 
  color: rgb(236, 13, 13);
  border: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

  